{
  "api_key": "replace_this_with_your_twitter_api_key",
  "api_key_secret": "replace_this_with_your_twitter_api_key_secret",
  "access_token": "replace_this_with_your_twitter_access_token",
  "access_token_secret": "replace_this_with_your_twitter_access_token_secret"
}
